:root {
    background-color: #fffff5;
    flex-flow: column;
    align-items: center;
    font-size: 18px;
    font-family: 'M PLUS 1p', serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-size: 1.8rem;
    font-weight: 500;
}

h3 {
    font-size: 1.2rem;
    font-weight: 500;
}

.underlined {
    text-decoration: underline;
}

.header {
    background-color: #fffff5;
    height: 5rem;
    width: 100%;
    padding: 1rem;
    border-bottom: #775 solid 1px;
    display: flex;
    gap: 1rem;
    position: sticky;
    top: 0;

    > * {
        display: block;
    }

    > .icon {
        height: 100%;
        border-radius: 50%;
        @media screen and (width < 450px) {
            display: none;
        }
    }
}

.main {
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    > .content {
        > * {
            margin: 1rem 0;
        }
    }

    > .content {
        width: min(100%, 1200px);

        > .body {
            margin: 0 1rem;
        }
        > .list {
            display: flex;
            gap: 3rem;
            flex-wrap: wrap;
            justify-content: space-between;

            > .item {
                width: 45%;
                display: block;
                color: #000;
                text-decoration: none;

                @media screen and (width < 700px) {
                    width: 100%;
                }

                > .preview {
                    width: 100%;
                }
            }
        }

        &.menu {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;

            > .item {
                border: #000 solid 2px;
                border-radius: 8px;
                display: block;
                width: min(500px, 100%);
                list-style: none;

                > .link {
                    width: 100%;
                    height: 100%;
                    padding: 0.2rem 2rem;
                    display: block;
                    color: #000;
                    text-decoration: none;

                    > .card {
                        line-height: 1.5em;
                        text-align: right;

                        &.title {
                            text-align: left;
                        }
                    }
                }
            }
        }

        &.about {
            > .wrapper {
                display: flex;
                gap: 3rem;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

                > * {
                    border-radius: 0.5rem;
                }

                > .icon {
                    padding: 0;
                    width: 30%;

                    @media screen and (width < 900px) {
                        display: none;
                    }
                }

                > .description {
                    border: #000 solid 0;
                    width: calc(40% - 6rem);
                    white-space: nowrap;
                }

                > .links {
                    width: 30%;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    gap: 0.5rem;

                    > .button {
                        width: 100%;
                        padding: 0.5rem;
                        border-radius: 0.5rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        color: #000;
                        font-weight: 500;
                        text-decoration: none;

                        &.twitter {
                            background-color: #00acee;
                        }

                        &.note {
                            background-color: #fff;
                            border: #000 solid 1px;
                        }

                        &.spotify {
                            background-color: #1db954;
                        }

                        &.niconico {
                            background-color: #333333;
                            color: #fff;
                        }

                        &.mixcloud {
                            background-color: #fff;
                            border: #000 solid 1px;
                        }
                    }
                }

                @media screen and (width < 700px) {
                    flex-direction: column;

                    > .description {
                        width: 100%;
                    }

                    > .links {
                        width: 100%;
                        flex-direction: row;
                        justify-content: space-between;
                        gap: 0.5rem;
                        
                        > .button {
                            width: 48%;
                        }
                    }

                    @media screen and (width < 450px) {
                        >.links {
                            flex-direction: column;
                            gap: 0.5rem;

                            > .button {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        &.games {
            > .body > .library {
                margin-left: 1.2rem;
            }
        }
    }
}

.footer {
    width: 100%;
    text-align: center;
}
